<?xml version='1.0' encoding='utf-8'?>
<widget id="com.deviser.uhdxpress" version="1.02.04" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">    <name>DStreamer</name>
    <description>
        A UHDXpress System Application Project.
    </description>
    <author>
        Will
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarDefaultScrollToTop" value="false" />
    <preference name="Fullscreen" value="False" />
    <preference name="android-windowSoftInputMode" value="adjustUnspecified" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
    <preference name="orientation" value="portrait" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/android/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="resources/android/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="resources/android/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="resources/android/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="resources/android/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="resources/android/drawable-xxxhdpi/icon.png" />
        <icon src="resources/android/icon.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <preference name="AllowBackForwardNavigationGestures" value="false" />
        <splash width="1125" height="2436" src="resources/PhoneX.png"></splash>
    </platform>
</widget>
