.mainPage{
  height: calc(100% - 1.15rem) !important;
}
.devicePrefixFilterPop{
  height:100% !important;
}
.devicePrefixFilterPop>div{
  height:calc(100% - 30px);
  overflow:auto;
}
.userPrefixPop .chevronDown,
.deviceFilterPop .chevronDown{
  width: 100%;
  background-color: #3f4551!important;
  color: #fff;
  border: 1px;
  display: block;
  text-align: center;
  padding: 5px;
  font-size: .16rem;
}
.userPrefixPop .mint-cell,
.deviceFilterPop .mint-cell{
	background-color: #3f4551!important;
}
.userPrefixPop .mint-cell .mint-cell-wrapper,
.deviceFilterPop .mint-cell .mint-cell-wrapper {
  background-image: linear-gradient(180deg,#000,#000 50%,transparent 0)!important;
}
.userPrefixPop .mint-cell .mint-checkbox-label,
.deviceFilterPop .mint-cell .mint-checkbox-label{
	font-size: .14rem;
	margin-left: 6px;
}
.mint-switch-input:checked:disabled +.mint-switch-core{
  border-color: #2F518C;
  background-color: #2F518C;
}
.mint-switch-input:disabled +.mint-switch-core::after{
  border-color: #B7B7B7;
  background-color: #B7B7B7;
}
.mt-range-runway{
  width: calc(100% + 24px);
}
select:disabled,input:disabled{
  border: 1px solid #333 !important;
}
.size2{
  font-size: .2rem;
  width: .2rem;
}
.popTitle{
  padding: .15rem;
  background: #000;
  text-indent: 0px;
}
.popTitleBack{
  display: inline;
}
.popContentStyle{
  height:calc(100% - 1rem);
  overflow-y:auto;
}
.chevronWidth{
  width: .25rem;
}
.chevronColor{
  color:#fff;
}
.popListTitle{
  padding:.18rem 0.08rem !important;
}
.searchInput{
   float:right;
   width: 30%;
}